<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span> Ng-Material Crud</span>
    <!--<span class="example-spacer"></span>-->

  </mat-toolbar>

  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
      <mat-nav-list>
        <a class="sidenav-item" mat-list-item [routerLink] ="'/'"></a>
        <mat-icon>home</mat-icon>
        <span> Home</span>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>


</p>
